<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <link rel='stylesheet' href='../../src/pdf/template/script.css' />
    </head>
    <body>
        <div class='page'>
            <div class='script-container'>
                <div class='sidebar' />
                <div class='sidebar-text'>
                    TOWNSFOLK
                </div>
                <div class='sidebar-text'>
                    OUTSIDER
                </div>
                <div class='sidebar-text'>
                    MINION
                </div>
                <div class='sidebar-text'>
                    DEMON
                </div>
            </div>
        </div>
    </body>
</html>