<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../../src/pdf/template/script.css" />
    </head>
    <body>
        <div class="page">
            <div class="script-container">
                <div class="header">{{name}}</div>
                <div class="sidebar"></div>
                <div class="sidebar-townsfolk sidebar-text">TOWNSFOLK</div>
                <div class="sidebar-outsider sidebar-text">OUTSIDER</div>
                <div class="sidebar-minion sidebar-text">MINION</div>
                <div class="sidebar-demon sidebar-text">DEMON</div>
                <div class="role-townsfolk"></div>
                <div class="role-outsider"></div>
                <div class="role-minion"></div>
                <div class="role-demon"></div>
                <div class="ntfn">*Not the First Night</div>
            </div>
        </div>
        <div class="page">
            <div class="back-page-container">
                <div class="title">{{name}}</div>
            </div>
        </div>
    </body>
</html>
