@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

@font-face {
    font-family: 'Osgard Pro';
    src: url('./OsgardPro.ttf');
}
body {
    margin: 0;
    box-sizing: border-box;
}

.page {
    page-break-after: always;
    page-break-inside: avoid;
    height: 1123px;
    width: 794px;
    background-image: url('../assets/backgrounds/parchment.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.tokens {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.row {
    display: flex;
    width: 100%;
}

.token-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.token {
    border: 5px solid black;
    border-radius: 50%;
}
