<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../../../src/template/tokens.css" />
    </head>
    <body>
        <div class="page">
            {{#each roles}}
            <div><img src="{{this.image}}" /></div>
            {{/each}}
        </div>
    </body>
</html>
