@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

@font-face {
    font-family: 'Osgard Pro';
    src: url('./OsgardPro.ttf');
}
body {
    margin: 0;
    box-sizing: border-box;
}

.page {
    page-break-after: always;
    page-break-inside: avoid;
    height: 1123px;
    width: 794px;
    background-image: url('../assets/backgrounds/parchment.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.tokens {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.row {
    display: flex;
    width: 100%;
}

.token-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.token {
    border: 5px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.token-text {
    font-family: Old Standard;
    font-weight: 900;
    text-transform: uppercase;
    text-anchor: middle;
    letter-spacing: 1px;
}

.reminder-text {
    font-family: Old Standard;
    text-transform: uppercase;
    color: #262626;
    font-size: 10px;
    font-weight: 900;
    text-align: center;
    padding: 0 5px;
}
